@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: hyperLightGlyph;
    src: url(/fonts/hyper-light-glyph-modded.ttf);
}

@media (orientation: portrait) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .main-side {
    width: 40vw;
    margin-bottom: 80px;
  }
}


* {
    margin: 0;
    color: white;
    font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    height: 100vh;
    background-image:
        radial-gradient(ellipse at top, #242424, #000b),
        radial-gradient(ellipse at bottom, #212121, #1116);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-vert { flex-direction: column; }

.main-side {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 0 50px;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

.inputs {
    background-color: #11111105;
    border: 1px solid #fffa;
    border-radius: 20px;
    box-shadow: 0 0 15px -5px #fff;

    width: 100%;
    margin-top: 20px;
    padding: 10px 15px 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-input, input[type="text"], input[type="number"] {
    background-color: #11111105;
    padding: 10px 20px;
    font-size: 20px;
    margin: 5px 0;

    border: 1px solid #fffa;
    border-radius: 20px;
    box-shadow: 0 0 15px -5px #fff;

    outline: none;
    transition: 200ms ease;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.number-input {
    padding: 5px 15px!important;
    width: 50px;
    appearance: none;
    margin: 10px 0 !important;
}

.text-input:focus {
    box-shadow: 0 0 15px -2px #fff;
}

.checkboxes {
    display: flex;
    justify-content: center;
}

.checkbox-container {
    margin: 0 20px;
    user-select: none;
}

.slider-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.result {
    background: #000a;

    border: 1px solid #fffa;
    border-radius: 20px;
    box-shadow: 0 0 15px -5px #fff;

    width: auto;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    transition: 300ms ease;
}

.result.hidden {
    background: #0000;

    border: none;
    border-radius: 20px;
    box-shadow: none;
}   

.tablet {
    width: 180px;
    height: 245px;
    transition: 200ms ease;
}

.tablet #text {
    transition: 200ms ease;
    font-family: hyperLightGlyph;
    width: 100px;
    position: absolute;
    margin: 0;
    line-height: 20px;
    font-size: 15px;
    margin-top: 52.5px;
    margin-left: 45px;
    overflow: hidden;
    white-space: nowrap;
}

body.firefox .tablet #text {
    line-height: 17.5px;
}

.tablet-image {
    transition: 200ms ease;
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    margin: 0;
}

.tablet-styles {
    margin-top: 10px;
}

#tablet-style-select {
    box-shadow: 0 0 15px -2px #fff;
    margin: 5px !important;
    background-color: #000a;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    transition: 200ms ease;

}

#tablet-style-select:hover,
#tablet-style-select:focus {
    box-shadow: 0 0 15px 0px #fff;
}



option {
    background-color: #000a;
    transition: all 200ms ease;
}

